.homeWrap {
  position: relative;
  max-width: 700px;
  max-height: 1500px;
  margin: 0 auto;
  > div {
    max-height: 1500px;
    display: flex;
    position: absolute;
    width: 180%;
    top: 0;
  }
}
